<!-- ======= forgot password Section ======= -->
<section id="forgotpassword" class="forgotpassword" style="margin-top: 140px; margin-bottom: 130px;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1 class="text-center">Forgot Your password?</h1>
        <h5 class="text-center mb-3 mt-3">Please enter the E-mail address that is linked with your account</h5>
        <form #forgotForm="ngForm" (ngSubmit)="save()" method="post" role="form" class="php-email-form">
          <div class="form__group field">
            <input [(ngModel)]="emaili" type="email" class="form__field" placeholder="email" name="name" id='name' required email #emailInput="ngModel" />
            <label for="name" class="form__label">Email</label>
            <div class="alert alert-danger" *ngIf="emailInput.touched && emailInput.invalid">
              <div *ngIf="emailInput?.errors?.['required']">Email is required!</div>
              <div *ngIf="emailInput?.errors?.['email']">Please enter a valid email address!</div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="col-lg-5 mt-2 register btn" type="submit" [disabled]="!forgotForm.form.valid || isLoading">
              <span *ngIf="!isLoading">Next</span>
              <span *ngIf="isLoading">Loading...</span>
            </button>
          </div>

        </form>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 photo" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/new password.png" class="img-fluid w-75" alt="">
      </div>
    </div>
  </div>
</section><!-- End forgot password -->
