.simple-slider .swiper-slide {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @media (max-width:767px) {
    .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
      display: none;
    }
  }
  
  @media (max-width:767px) {
    .simple-slider .swiper-slide {
      height: 360px;
    }
  }

  .register, .later {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    transition: 0.5s;
    margin: 10px 0 0 0;
  }
  
  .register {
    color: #fff;
    background: #AF3065;
    border: none;
  }
  
  .later {
    color: #AF3065;
    background: #fff;
    border: 1px solid #AF3065;
  }
  
  /* Add this rule for both classes */
  .register, .later {
    box-sizing: border-box;
  }
  
  .register:hover {
    color: #fff;
    background: #d8208e;
  }
  
  .later:hover {
    color: #fff;
    background: #d8208e;
  }

  




  