<main>
  <div style="margin-bottom: 50px;" class="d-block d-lg-none"></div>
  <div class="row justify-content-between px-3 px-md-4" style="padding: 20px 0;">
    <div class="col-12 col-md-8">
      <div class="pagetitle">
        <h1>Quiz</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Quiz List</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex flex-wrap gap-2 align-items-center justify-content-end mt-2 mt-md-0">
      <button
        type="button"
        class="btn filter p-2 border pe-3"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <i class="bi bi-filter-square fa-2xl me-3"></i><span class="d-none d-sm-inline">Filter</span>
      </button>

      <button
        type="button"
        class="btn register p-2 border pe-3"
        (click)="showCreateQuizModal = true"
      >
        <i class="bi bi-plus fa-2xl me-3"></i><span class="d-none d-sm-inline">Create Quiz</span>
      </button>
    </div>
  </div>

  <!-- Filter Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="staticBackdropLabel"
            style="color: #af3065; font-weight: bold"
          >
            Filter
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row d-flex justify-content-center">
              <div class="col-8 form__group field mt-5 mb-3">
                <label class="mb-3 form__label">Training</label>
                <select
                  name="Formation"
                  id="id_select"
                  autofocus="true"
                  class="form__field mt-2"
                  [(ngModel)]="formationId"
                >
                  <option [value]="0" disabled selected>Training</option>
                  <option *ngFor="let i of formations" [value]="i.id">{{i.nomFormation}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            data-bs-dismiss="modal"
            aria-label="Close"
            class="btn register"
            (click)="getAllQuizs()"
          >
            Filter
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Create Quiz Modal -->
  <div *ngIf="showCreateQuizModal" class="custom-modal-overlay" (click)="closeCreateModal()">
    <div class="custom-modal" (click)="$event.stopPropagation()">
      <div class="custom-modal-header">
        <h5>New Quiz</h5>
        <button type="button" class="btn-close" (click)="closeCreateModal()"></button>
      </div>
      <div class="custom-modal-body">
        <div class="row">
          <div class="col-12">
            <div class="row text-center">
              <div class="form__group field mt-4">
                <label class="mb-3 form__label">Training</label>
                <select
                  autofocus="true"
                  class="form__field"
                  [(ngModel)]="newQuizTraining"
                  name="training"
                >
                <option [value]="0" disabled selected>Training</option>
                <option *ngFor="let i of formations" [value]="i.id">{{i.nomFormation}}</option>
                </select>
              </div>
            </div>
            <div class="row text-center">
              <div class="form__group field mt-4">
                <input
                  type="text"
                  class="form__field"
                  placeholder="Quiz name"
                  [(ngModel)]="newQuizName"
                  name="quizName"
                />
                <label for="groupName" class="form__label">Quiz Name</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-modal-footer">
        <button
          type="button"
          class="btn register"
          (click)="closeCreateModal()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn register"
          (click)="addQuiz()"
        >
          Create
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid px-3 px-md-4">
    <div class="row g-3 mt-1" *ngIf="Quizs?.length!=0">
      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let i of Quizs">
        <div class="card shadow-sm quiz-card mb-0">
          <div class="row mt-3 mx-2">
            <div class="nav d-flex justify-content-between align-items-start">
              <p class="text-start mb-0"><span class="quiz-name">{{i.name}}</span></p>
              <div class="filter">
                <button
                  class="icon"
                  data-bs-toggle="dropdown"
                  style="border: none; background-color: transparent; padding: 4px;"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start"></li>
                  <li>
                    <button class="dropdown-item mb-2" (click)="deleteQuiz(i.id)">
                      <span><i class="bi bi-trash-fill me-3" style="color: red;"></i></span>
                      Delete Quiz
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div style="border-top: 1px solid #b9b0b0;"></div>
          <div class="card-body py-3" (click)="navigateToForm(i.id)" style="cursor: pointer;">
            <div class="mb-0 align-items-center d-flex flex-wrap gap-2">
             <span class="formation-label">Training:</span> <span class="formation-name">{{i.formationId.nomFormation}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Quizs?.length == 0" class="text-center mt-5 d-flex justify-content-center">
      <div class="row nodata">
        <img src="../../../../../assets/img/nodata.webp" width="250px" height="250px" class="img-fluid" loading="lazy"><br>
        <p style="overflow: hidden;">There are no quiz available.</p>
      </div>
    </div>
  </div>
</main>
